<!DOCTYPE html>
<html>
<head>

  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

  <!-- JSON Editor -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.3.0/jsoneditor.min.css" />

</head>

<body>

  <div class="container">

    <main>

      <section id="jsoneditor"></section>
  
      <div id="vue">

        <!-- 1st -->
        <section class="alpha">

          <div class="margin-top">
            <button class="button" v-on:click="getJSON()">Get &rarr;</button>
            <button class="button" v-on:click="clearJSON()">Clear</button>
            <button class="button action right" v-on:click="setJSON()">
              {{ mode === 'raw' ? '&larr; Set' : '&#8630; Save' }}
            </button>
          </div>
          
          <div class="extra-options">

            <div class="set-modes">
              <div class="as-raw">
                <label class="label">
                  <input class="input" type="radio" v-model="mode" value="raw">
                  <span>Set data only</span>
                </label>
              </div>
              <div class="as-url">
                <label class="label">
                  <input class="input" type="radio" v-model="mode" value="url">
                  <span>Save and set url</span>
                </label>
              </div>
              <div class="as-jsonx">
                <label class="label">
                  <input class="input" type="radio" v-model="mode" value="jsonx">
                  <span>Save and set json://...</span>
                </label>
              </div>
            </div>

          </div>

        </section>

        <!-- 2nd -->
        <section class="bravo">

          <fieldset class="fieldset loader">
            <legend class="legend">Content loader</legend>
            <div class="content">

              <div class="inputs">
                <input class="input" type="text"
                  placeholder="In-drive .json id | url | json://..."
                  v-model="loaderInput"
                >
              </div>

              <div class="margin-top">
                <button class="button action" v-on:click="loadContent()">Load</button>
                <button class="button right" :disabled="!loaderInput" v-on:click="viewLoaderInput()">View</button>
              </div>

            </div>
          </fieldset>

        </section>

      </div>
  
    </main>

  </div>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- JSON Editor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.3.0/jsoneditor.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>