@import '../../theming/index.scss';

main {

  #jsoneditor {
    width: 100%;
    height: 420px;

    // context menu
    .jsoneditor > .jsoneditor-menu .jsoneditor-anchor .jsoneditor-contextmenu {
      left: -10px !important;

      ul.jsoneditor-menu {
        width: 90px;
      }
    }

    // mode tree
    .jsoneditor.jsoneditor-mode-tree {

      & > .jsoneditor-menu {
        height: 70px;
  
        .jsoneditor-search {
          position: relative;
          width: 100%;
          
          .jsoneditor-frame table {
            width: 100%;
            
            input {
              width: 98%;
            }
          }
        }

      }

      .jsoneditor-outer {
        height: calc(100% - 35px);
      }

    }

    // mode code
    .jsoneditor.jsoneditor-mode-code > .jsoneditor-menu .jsoneditor-poweredBy {
      display: none;
    }

  }

  section.alpha {

    .advanced {
      margin-top: -1px;
      padding: .5rem;
      border: 1px solid #3883fa;

      .settings {
        display: flex;
        
        .set-modes {
          display: flex;

          .mode {
            margin-left: .5rem;
            
            &:first-child {
              margin-left: 0;
            }
          }

        }

        .auto-loaded {
          flex: 1;
          padding-top: .25rem;
          margin-left: .5rem;
          padding-left: .5rem;
          border-left: 1px solid #{addon-color('light')};
        }

      }

      .preview {
        margin-top: .5rem;
      }

    }

  }

  section.bravo {

    .loader {
      margin-top: 1rem;

      .head {
        display: flex;

        .title {
          flex: 1;
          font-weight: bold;
          cursor: pointer;
        }

        a {
          text-transform: uppercase;
          margin-left: 1rem;
        }
      }

      .body {
        padding: 1rem;
        
        .inputs input {
          width: 100%;
        }
  
        .buttons {
          margin-top: 1rem;
        }
  
      }

    }

  }

  @media (min-width: 576px) {

    #jsoneditor {

      // context menu
      .jsoneditor > .jsoneditor-menu .jsoneditor-anchor .jsoneditor-contextmenu {
        left: 0;
  
        ul.jsoneditor-menu {
          width: 128px;
        }
      }
      
      // mode tree
      .jsoneditor.jsoneditor-mode-tree {

        & > .jsoneditor-menu {
          height: 35px;
    
          .jsoneditor-search {
            position: absolute;
            width: auto;
            
            .jsoneditor-frame table {
              width: auto;

              input {
                width: auto;
              }
            }
          }
        }

        .jsoneditor-outer {
          height: 100%;
        }

      }

      // mode code
      .jsoneditor.jsoneditor-mode-code > .jsoneditor-menu .jsoneditor-poweredBy {
        display: inline;
      }

    }

  }

}