<!DOCTYPE html>
<html>
<head>

  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

  <!-- JSON Editor -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.3.0/jsoneditor.min.css" />

</head>

<body>

  <div class="container">

    <main>

      <section id="jsoneditor"></section>
  
      <div id="vue">

        <!-- 1st -->
        <section class="alpha">

          <div class="margin-top">
            <button class="button" @click="getJSON()">Get &rarr;</button>
            <button class="button" @click="clearJSON()">Clear</button>
            <button class="button action right" @click="setJSON()">&larr; Set</button>
          </div>

        </section>

        <!-- 2nd -->
        <section class="bravo">

          <div class="shell loader">
            <div class="head">
              <div class="title">Content loader</div>
              <a class="toggler" href="#"
                @click.prevent="showLoader=!showLoader"
              >{{ !showLoader ? 'Show' : 'Hide' }}</a>
            </div>
            <div class="body" v-if="!!showLoader">

              <div class="inputs">
                <input class="input" type="text"
                  placeholder="In-drive .json file id or an url or a json://..."
                  v-model="loaderValue"
                >
              </div>

              <div class="extra-options margin-top">

                <div class="set-modes">
                  <div class="mode raw">
                    <label class="label">
                      <input class="input" type="radio" v-model="setMode" value="raw">
                      <span>Set content only</span>
                    </label>
                  </div>
                  <div class="mode url">
                    <label class="label">
                      <input class="input" type="radio" v-model="setMode" value="url">
                      <span>Save content and set url</span>
                    </label>
                  </div>
                  <div class="mode jsonx">
                    <label class="label">
                      <input class="input" type="radio" v-model="setMode" value="jsonx">
                      <span>Save content and set auto-loaded url</span>
                    </label>
                  </div>
                </div>
    
              </div>

              <div class="buttons">
                <button class="button" @click="loadContent()">Load</button>
                <button class="button action right">Save</button>
              </div>

            </div>
          </div>

        </section>

      </div>
  
    </main>

  </div>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- JSON Editor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.3.0/jsoneditor.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>