<!DOCTYPE html>
<html>
<head>

  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

  <!-- JSON Editor -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.3.0/jsoneditor.min.css" />

</head>

<body>

  <div class="container">

    <main>

      <section id="jsoneditor"></section>
  
      <div id="vue">

        <!-- 1st -->
        <section class="alpha">

          <div class="margin-top">
            <button class="button" v-on:click="getJSON()">Get &rarr;</button>
            <button class="button" v-on:click="clearJSON()">Clear</button>
            <button class="button action right" v-on:click="setJSON()">&larr; Set</button>
          </div>

          <!-- Save to .json file option ... -->

        </section>

      </div>
  
    </main>

  </div>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- JSON Editor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.3.0/jsoneditor.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>