<!DOCTYPE html>
<html>
<head>

  <base target="_top">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

  <style>
    #tinymce {
      width: 100%;
      border-color: #ffffff;
    }
    .loader {
      margin-top: 1rem;
    }
    .loader .form-group input[type="text"] {
      width: 100%;
    }
    .loader .form-group .meta {
      margin-top: .5rem;
    }
  </style>

</head>

<body>

  <main class="container">

    <textarea id="tinymce"></textarea>

    <section id="vue">

      <div class="editor margin-top">  
        <button class="button" v-on:click="getHTML">Get &rarr;</button>    
        <button class="button" v-on:click="clearHTML">Clear</button>
        <button class="button action right" v-on:click="setHTML">&larr; Set</button>
      </div>
  
      <fieldset class="fieldset loader">
        <legend class="legend">Load content from Google Docs:</legend>
        <div class="body">
    
          <div class="form-group">
    
            <input class="input" type="text" placeholder="A document id ..." v-model="docId">
  
            <div class="meta">
              <label class="label">
                <input class="input" type="checkbox" v-model="docStyle">
                <span>Keep Docs style</span>
              </label>
            </div>  
    
          </div>
    
          <div class="margin-top">
            <button class="button action" v-on:click="loadDocContent">Load</button>
            <button class="button right" :disabled="!docId" v-on:click="viewDoc">View</button>
          </div>
    
        </div>  
      </fieldset>

    </section>

  </main>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- TinyMCE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/tinymce.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/themes/silver/theme.min.js"></script>
  <!-- plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/advlist/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/anchor/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/autolink/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/autoresize/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/autosave/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/charmap/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/code/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/codesample/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/colorpicker/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/contextmenu/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/directionality/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/emoticons/js/emojis.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/emoticons/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/fullpage/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/fullscreen/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/help/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/hr/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/image/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/imagetools/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/importcss/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/insertdatetime/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/legacyoutput/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/link/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/lists/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/media/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/nonbreaking/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/noneditable/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/pagebreak/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/paste/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/preview/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/print/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/quickbars/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/save/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/searchreplace/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/spellchecker/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/tabfocus/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/table/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/template/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/textcolor/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/textpattern/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/toc/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/visualblocks/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/visualchars/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/wordcount/plugin.min.js"></script>
  
  <script>

    // init editor
    // full featured (with free plugin)
    // https://www.tiny.cloud/docs/demo/full-featured/
    tinymce.init({
      selector: 'textarea#tinymce',
      base_url: 'https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14',
      entity_encoding: 'raw',
      content_css: false,
      height: 500,
      // plugins
      // EXCLUDED: bbcode & powerpaste mediaembed tinydrive tinycomments mentions tinymcespellchecker formatpainter linkchecker a11ychecker casechange checklist pageembed permanentpen advcode
      // INCLUDED: code paste spellchecker
      plugins: 'print preview fullpage importcss searchreplace autolink autosave save directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons' + ' code paste spellchecker',
      // menu
      menubar: 'file edit view insert format tools table tc help',
      contextmenu: "link image imagetools table configurepermanentpen",
      // toolbar
      toolbar_drawer: 'sliding',
      toolbar1: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment' + ' | code paste spellchecker',
      quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
    });

    // init vue app
    var app = new Vue({
      el: '#vue',
      data: {
        docId: '',
        docStyle: false
      },
      methods: {

        errorAlert: function (msg, el, title) {
          console.error(msg, el ? el: '');
          return google.script.run.withFailureHandler(this.errorAlert).displayError(msg, title);
        },

        /*
         * loader
         */

        getDocId: function () {
          var _this = this;
          return google.script.run
          .withSuccessHandler(function (docId) {
            _this.docId = docId;
            return _this.loadDocContent();
          })
          .withFailureHandler(this.errorAlert)
          .getData();
        },

        loadDocContent: function () {
          var _this = this;
          // try to load from the active cell
          if (!this.docId) {
            return _this.getDocId();
          } else {
            // load content
            return google.script.run
            .withSuccessHandler(function (html) {
              if(!html) {
                return _this.errorAlert('Can not get the content, the Docs ID may be in wrong format');
              }
              return tinymce.activeEditor.setContent(html);
            })
            .withFailureHandler(this.errorAlert)
            .getDoc(this.docId, this.docStyle);
          }
        },
        
        viewDoc: function() {
          return window.open('https://docs.google.com/document/d/'+ this.docId +'/view');
        },
        
        /*
         * editor
         */

        clearHTML: function () {
          return tinymce.activeEditor.setContent('');
        },

        getHTML: function () {
          return google.script.run
          .withSuccessHandler(function (data) {
            return tinymce.activeEditor.setContent(data);               
          })
          .withFailureHandler(this.errorAlert)
          .getData();
        },

        setHTML: function () {
          var html = tinymce.activeEditor.getContent({ format: 'html' })
            .replace(/\\n/g,'')
            .replace(/\n/g,'')
            .replace('<!DOCTYPE html><html><head></head><body>','')
            .replace('</body></html>','');
          return google.script.run
          .withFailureHandler(this.errorAlert)
          .setData(html);
        }

      }
    });

  </script>

</body>

</html>