<!DOCTYPE html>
<html>
<head>

  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

</head>

<body>

  <main class="container">

    <textarea id="tinymce"></textarea>

    <section id="vue">

      <div class="editor margin-top">  
        <button class="button" v-on:click="getHTML()">Get &rarr;</button>    
        <button class="button" v-on:click="clearHTML()">Clear</button>
        <button class="button action right" v-on:click="setHTML()">&larr; Set</button>
      </div>
  
      <fieldset class="fieldset loader">
        <legend class="legend">Load content from Google Docs:</legend>
        <div class="body">
    
          <div class="form-group">
    
            <input class="input" type="text" placeholder="A Google Docs document id ..." v-model="docId">
  
            <div class="meta">
              <label class="label">
                <input class="input" type="checkbox" v-model="docStyle">
                <span>Keep Docs style</span>
              </label>
            </div>  
    
          </div>
    
          <div class="margin-top">
            <button class="button action" v-on:click="loadDocContent()">Load</button>
            <button class="button right" :disabled="!docId" v-on:click="viewDoc()">View</button>
          </div>
    
        </div>  
      </fieldset>

    </section>

  </main>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- TinyMCE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/tinymce.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/themes/silver/theme.min.js"></script>
  <!-- plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/advlist/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/anchor/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/autolink/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/autoresize/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/autosave/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/charmap/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/code/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/codesample/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/colorpicker/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/contextmenu/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/directionality/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/emoticons/js/emojis.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/emoticons/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/fullpage/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/fullscreen/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/help/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/hr/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/image/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/imagetools/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/importcss/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/insertdatetime/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/legacyoutput/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/link/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/lists/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/media/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/nonbreaking/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/noneditable/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/pagebreak/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/paste/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/preview/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/print/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/quickbars/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/save/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/searchreplace/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/spellchecker/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/tabfocus/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/table/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/template/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/textcolor/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/textpattern/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/toc/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/visualblocks/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/visualchars/plugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.14/plugins/wordcount/plugin.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>