#tinymce {
  width: 100%;
  border-color: #ffffff;
}

.loader {
  margin-top: 1rem;

  .form-group {

    input[type="text"] {
      width: 100%;
    }

    .meta {
      margin-top: .5rem;
    }

  }

}