main {

  #tinymce {
    width: 100%;
    border-color: #ffffff; // hide border before tinymce fully loaded
  }

  section.bravo {

    .loader {
      margin-top: 1rem;

      .inputs {
        input[type=text] {
          width: 100%;
        }
        .keep-style {
          margin-top: .5rem;
        }    
      }
    }

  }

}
