<!DOCTYPE html>
<html>
<head>

  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

</head>

<body>

  <main class="container" id="vue" v-cloak>

    <div class="addon-wrapper">

      <div class="addon-head">
        head
      </div>

      <div class="addon-body body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus voluptatibus assumenda eaque. Qui aperiam rem ipsam tempora! Velit exercitationem provident voluptas quam voluptatum architecto. Excepturi maxime soluta iusto aut!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus voluptatibus assumenda eaque. Qui aperiam rem ipsam tempora! Velit exercitationem provident voluptas quam voluptatum architecto. Excepturi maxime soluta iusto aut!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus voluptatibus assumenda eaque. Qui aperiam rem ipsam tempora! Velit exercitationem provident voluptas quam voluptatum architecto. Excepturi maxime soluta iusto aut!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus voluptatibus assumenda eaque. Qui aperiam rem ipsam tempora! Velit exercitationem provident voluptas quam voluptatum architecto. Excepturi maxime soluta iusto aut!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus voluptatibus assumenda eaque. Qui aperiam rem ipsam tempora! Velit exercitationem provident voluptas quam voluptatum architecto. Excepturi maxime soluta iusto aut!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus voluptatibus assumenda eaque. Qui aperiam rem ipsam tempora! Velit exercitationem provident voluptas quam voluptatum architecto. Excepturi maxime soluta iusto aut!
      </div>

      <div class="addon-foot">
        foot
      </div>

    </div>

  </main>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>