@import '../../theming/index.scss';

main {

  #linking-editor {

    .head {
  
    }
  
    .body {
      height: 500px;
      padding: 1rem;
    }
  
    .foot {
      padding: 1rem;
    }

  }

  .preview {
    margin-top: 1rem;

    pre.data {
      margin-top: 0;
    }
  }

}