<!DOCTYPE html>
<html>
<head>

  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

</head>

<body>

  <main class="container" id="vue" v-cloak>

    <section class="shell" id="linking-editor">

      <div class="head">
        
        <div class="source">

          <select class="select"
            v-model="selectedSource"
            @change="changeSource()"
          >
            <option class="option" disabled>Linking source</option>
            <option class="option"
              v-for="value in sources"
              :value="value"
              :selected="selectedSource===value"
            >{{ value }}</option>
          </select>
          
        </div>

        <div class="filter">
          <input class="input" type="text" placeholder="Filter items ...">
          <button class="only-selected"
            :class="{'active': !!showSelectedOnly}"
            v-on:click="showSelectedOnly=!showSelectedOnly"
          >
            <img src="https://img.icons8.com/material-outlined/16/000000/checked-checkbox.png">
          </button>
          <div class="layouts">
            <button class="layout list"
              :class="{'active': layout === 'list'}"
              v-on:click="layout='list'"
            >
              <img src="https://img.icons8.com/ios-glyphs/16/000000/list.png">
            </button>
            <button class="layout thumbnail"
              :class="{'active': layout === 'thumbnail'}"
              v-on:click="layout='thumbnail'"
            >
              <img src="https://img.icons8.com/material-outlined/16/000000/image.png">
            </button>
          </div>
        </div>

      </div>

      <div class="body">

        <div class="items-header" v-if="!!crossedItems">Other items</div>
        <ul class="items" v-if="!!crossedItems">
          <li class="item"
            v-for="item in getCrossedItemList()"
            :class="{'active': !item.excluded}"
            v-on:click="item.excluded=!item.excluded"
          >{{ item.title || item.$key }}</li>
        </ul>
        
        <div class="items-header" v-if="!!crossedItems">Items</div>
        <ul :class="['items', layout]">
          <li class="item"
            v-for="item in items"
            :class="{
              'active': !!selectedItems[item.$key],
              'not-visible': !isItemVisible(item)
            }"
            v-on:click="selectItem(item)"
          >

            <div class="thumbnail">
              <img :src="item.thumbnail || item.avatar || 'https://via.placeholder.com/300?text=?'">
            </div>

            <div class="info">
              <h3 class="title">{{ item.title || item.displayName || item.$key }}</h3>
              <p class="description">{{ item.excerpt || item.description || ('#' + item['#']) }}</p>
            </div>

          </li>
        </ul>

      </div>

      <div class="foot">

        <div class="linking-modes">
          <div class="modes">
            <button class="mode text"
              :class="{'active': mode === 'text'}"
              v-on:click="mode='text'"
            >
              <img src="https://img.icons8.com/material-sharp/16/000000/text-color.png">
            </button>
            <!-- | -->
            <button class="mode key"
              :class="{'active': mode === 'key'}"
              v-on:click="mode='key'"
            >
              <img src="https://img.icons8.com/material/16/000000/us-dollar--v1.png">
            </button>
            <button class="mode title"
              :class="{'active': mode === 'title'}"
              v-on:click="mode='title'"
            >
              <img src="https://img.icons8.com/material/16/000000/header-1--v1.png">
            </button>
            <button class="mode custom"
              :class="{'active': mode === 'custom'}"
              v-on:click="mode='custom'"
            >
              <img src="https://img.icons8.com/ios-glyphs/16/000000/ellipsis.png">
            </button>
          </div>

          <div class="custom-fields" v-if="mode==='custom'">
            <input class="input" type="text" v-bind="customFields" placeholder="Field list, saperated by spaces ...">
          </div>

          <div class="extra">
            <label class="label including-source" v-if="mode!=='text'">
              <input class="input" type="checkbox" v-model="includingSource">
              <span>Including source</span>
            </label>
          </div>
        </div>

        <div class="status">
          <span>{{ selectedCount() }} selected</span>
          <span>{{ totalCount() }} total</span>
        </div>

      </div>

    </section>

    <section>

      <div class="margin-top">
        <button class="button" v-on:click="getData()">Get &rarr;</button>
        <button class="button" v-on:click="clearData()">Clear</button>
        <button class="button action right" v-on:click="setData()">&larr; Set</button>
      </div>

      <fieldset class="fieldset preview">
        <legend class="legend">Preview:</legend>
        <pre class="data"><code>{{ getResultAsString(true) || 'Please select at least one item.' }}</code></pre>
      </fieldset>

    </section>

  </main>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>