@import '../../theming/index.scss';

main {

  .items {
    @include list-flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    
    .item {
      margin-right: 2rem;
      
      &:last-child {
        margin-right: 0;
      }
      
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: addon-color('dark');
        border: 1px solid #{addon-color('light')};
        padding: 2rem;
        width: 14rem;

        img {
          width: 2rem;
        }

        span {
          margin-left: 1rem;
          font-size: 1.5rem;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background: addon-color('light');
      }

    }

  }

}
