$colors: (
  primary: #4d90fe,
  secondary: #f1f1f1,
  success: #3d9400,
  danger: #dd4b39,
  dark: #333333,
  medium: #777777,
  light: #f1f1f1,
);

/* FUNCTIONS */

@function addon-color($key: 'primary') {
  @return map-get($colors, $key);
}

/* MIXINS */

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-inline {
  @include list;
  li {
    display: inline-block;
  }
}

@mixin list-flex {
  @include list;
  display: flex;
  flex-wrap: wrap;
}

@mixin item-flex($num: 1, $pad: 0) {
  width: calc((100% / #{$num}) - (#{$pad} * 2));
  margin-left: $pad;
  margin-right: $pad;
}
