@import '../../theming/index.scss';

main {

  display: flex;

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 10rem;
  
    li {
      margin: 1rem;
      color: addon-color('medium');
      cursor: pointer;

      &:hover, &.active {
        color: addon-color('dark');
      }
    }
  
  }
  
  .pages {
    flex: 1;  
  }

  // general page
  .page.general {

    .project {
      padding-bottom: 2rem;
      border-bottom: 1px solid #{addon-color('light')};

      .title {
        font-size: 2rem;
        margin-top: 1rem;
      }

      .meta {
        margin: 0;
        padding: 0;
        margin-left: 1rem;
        margin-top: 2rem;
        font-size: 1rem;

        li {
          margin-top: .5rem;
        }
      }

    }

    .services {
      @include list-flex;
      margin-top: 2rem;
      
      .service {
        margin-right: 1rem;
        
        a {
          display: flex;
          align-items: center;
          color: addon-color('dark');
          padding: 1rem 1.5rem;
          border: 1px solid #{addon-color('light')};
          text-transform: uppercase;

          img {
            width: 1.5rem;
          }

          span {
            flex: 1;
            margin-left: 1rem;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &:hover {
          background: addon-color('light');
        }

      }

    }

    .footer {
      margin-top: 3rem;
    }

  }
  
  // settings page
  .page.settings {

    h2 {
      margin-bottom: 2rem;
    }
    
    .form-group {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .label {
        flex: 1;

        span, input {
          display: block;
        }

        input {
          width: 100%;
          margin-top: .5rem;
        }
      }

      .actions {
        width: 5rem;
        margin-left: 2rem;
        margin-top: 2rem;
        text-align: center;

        a {
          text-transform: uppercase;
        }
      }

    }

    .submit {
      display: flex;
      width: 100%;
      margin-top: 3rem;

      .message {
        margin-top: .5rem;
        margin-left: 1rem;

        &.success {
          color: addon-color('success');
        }
      }
    }

  }
  
  // monitoring page
  .page.monitoring {

    h2 {
      margin-bottom: 2rem;
    }

    .items {
      @include list-flex;
      width: 100%;
      
      .item {
        margin-right: 2rem;
        
        &:last-child {
          margin-right: 0;
        }
        
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: addon-color('dark');
          border: 1px solid #{addon-color('light')};
          padding: 2rem 1rem;
          width: 12rem;
  
          img {
            width: 2rem;
          }
  
          span {
            margin-left: 1rem;
            font-size: 1rem;
          }
  
          &:hover {
            text-decoration: none;
          }
        }
  
        &:hover {
          background: addon-color('light');
        }
  
      }
  
    }

  }

  // about page
  .page.about {
    
    h3 {
      margin-top: 2rem;
    }

  }

}
