<!DOCTYPE html>
<html>
<head>
  
  <base target="_blank">

  <!-- Addon -->
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/addon.css">
  <link rel="stylesheet" href="https://sheetbase.github.io/sheets-addon/css/add-ons1.css">

</head>

<body>

  <div class="container" id="vue" v-cloak>

    <div class="loading" v-if="!ready"></div>
  
    <main v-else>

      <ul class="menu">
        <li class="general"
          :class="{'active': page==='general'}"
          @click="page='general'"
        >General</li>
        <li class="settings"
          :class="{'active': page==='settings'}"
          @click="page='settings'"
        >Settings</li>
        <li class="monitoring"
          :class="{'active': page==='monitoring'}"
          @click="page='monitoring'"
        >Monitoring</li>
        <li class="about"
          :class="{'active': page==='about'}"
          @click="page='about'"
        >About</li>
      </ul>
  
      <div class="pages">
  
        <div class="page general"
          v-if="page==='general' && !!settings.PROJECT_ID"
        >
  
          <div class="project">
            <h1 class="title">{{ settings.PROJECT_NAME }}</h1>
            <ul class="meta">
              <li>
                Project ID: <a :href="'https://drive.google.com/drive/folders/' + settings.PROJECT_ID">{{ settings.PROJECT_ID }}</a>
              </li>
              <li v-if="!!settings.HOMEPAGE">
                Homepage: <a :href="settings.HOMEPAGE">{{ settings.HOMEPAGE }}</a>
              </li>
              <li v-if="!!settings.GCP_ID">
                GCP: <a :href="'https://console.cloud.google.com/home/dashboard?project=' + settings.GCP_ID">{{ settings.GCP_ID }}</a>
              </li>
            </ul>
          </div>
  
          <ul class="services">
  
            <li class="service database" v-if="!!settings.DATABASE_ID">
              <a
                :href="'https://docs.google.com/spreadsheets/d/' + settings.DATABASE_ID + '/edit'"
              >
                <img src="https://img.icons8.com/dusk/32/000000/database.png">
                <span>Database</span>
              </a>
            </li>
  
            <li class="service backend" v-if="!!settings.BACKEND_ID">
              <a
                :href="'https://script.google.com/d/' + settings.BACKEND_ID + '/edit'"
              >
                <img src="https://img.icons8.com/color/32/000000/server.png">
                <span>Backend</span>
              </a>
            </li>
  
            <li class="service upload" v-if="!!settings.UPLOAD_ID">
              <a
                :href="'https://drive.google.com/drive/folders/' + settings.UPLOAD_ID"
              >
                <img src="https://img.icons8.com/dusk/32/000000/upload.png">
                <span>Upload</span>
              </a>
            </li>
  
          </ul>

          <div class="footer">
            <button class="button" @click="getSettings(true)">Refresh</button>
          </div>
  
        </div>
  
        <div class="page settings" v-if="page==='settings'">
  
          <h2>Settings</h2>
  
          <div class="form-group">
            <label class="label">
              <span>Project homepage</span>
              <input class="input" type="text" v-model="settings.HOMEPAGE" placeholder="App homepage ..." />
            </label>
            <div class="actions">
              <a :href="settings.HOMEPAGE || 'https://sheetbase.dev'">View</a>
            </div>
          </div>
  
          <div class="form-group">
            <label class="label">
              <span>Google project ID</span>
              <input class="input" type="text" v-model="settings.GCP_ID" placeholder="Google Cloud project ID ..." />
            </label>
            <div class="actions">
              <a
                v-if="!!settings.GCP_ID"
                :href="'https://console.cloud.google.com/home/dashboard?project=' + settings.GCP_ID"
              >View</a>
            </div>
          </div>

          <div class="form-group">
            <label class="label">
              <span>Editor webhook</span>
              <input class="input" type="text" v-model="settings.WEBHOOK_URL" placeholder="Webhook url for JSON/HTML editor ..." />
            </label>
            <div class="actions"></div>
          </div>
  
          <div class="submit">
            <button class="button action" @click="setSettings()">Save</button>
            <div :class="['message', actionMessage.type]" v-if="!!actionMessage">{{ actionMessage.message }}</div>
          </div>
  
        </div>
  
        <div class="page monitoring" v-if="page==='monitoring'">

          <h2>Monitoring</h2>

          <div class="no-items" v-if="!settings.GCP_ID">
            Please set the <em>Google Cloud Project ID</em> in the <strong>Settings</strong> section.
          </div>
        
          <ul class="items" v-else>
            <li class="item">
              <a :href="'https://console.cloud.google.com/logs/viewer?resource=app_script_function&project=' + settings.GCP_ID">
                <img src="https://img.icons8.com/nolan/32/000000/log.png">
                <span>View logs</span>
              </a>
            </li>
            <li class="item">
              <a :href="'https://console.cloud.google.com/errors?time=P7D&order=COUNT_DESC&resolution=OPEN&resolution=ACKNOWLEDGED&project=' + settings.GCP_ID">
                <img src="https://img.icons8.com/flat_round/32/000000/error--v3.png">
                <span>View errors</span>
              </a>
            </li>
          </ul>

        </div>

        <div class="page about" v-if="page==='about'">
  
          <h2>About</h2>
  
          <div class="addon">
  
            <h3>Sheets Add-on</h3>
            <p>A Google Sheets add-on for managing a Sheetbase project.</p>
  
            <ul>
              <li>Homepage: <a href="https://sheetbase.dev">https://sheetbase.dev</a></li>
              <li>Version: 1.0.0</li>
              <li>License: MIT</li>
              <li>Sourcecode: <a href="https://github.com/sheetbase/sheets-addon">https://github.com/sheetbase/sheets-addon</a></li>
            </ul>
  
          </div>
  
          <div class="libs">
  
            <h3>Third-party libraries</h3>
            <p>This add-on is made possible by these great open-source libraries:</p>
  
            <ul>
              <li>VueJS (MIT): <a href="https://vuejs.org">https://vuejs.org</a></li>
              <li>TinyMCE (LGPL-2.1): <a href="https://www.tiny.cloud">https://www.tiny.cloud</a></li>
              <li>Jsoneditor (Apache-2.0): <a href="http://jsoneditoronline.org">http://jsoneditoronline.org</a></li>
              <li>And others: NodeJS, Clasp, Typescript, Rollup, ...</li>
            </ul>
  
          </div>
  
        </div>
  
      </div>
  
    </main>

  </div>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <!-- Addon -->
  <script src="https://sheetbase.github.io/sheets-addon/js/addon.js"></script>

</body>

</html>