@import '../../theming/index.scss';

main {

  display: flex;
  
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 10rem;
  
    li {
      margin: 1rem;
      color: addon-color('medium');
      cursor: pointer;

      &:hover, &.active {
        color: addon-color('dark');
      }
    }
  
  }
  
  .pages {
    flex: 1;
  
    .general {

      .placeholder {
        padding-left: 10rem;
        padding-top: 0;
  
        img {
          width: 100px;
        }
      }
  
      .display {
  
        .project {

          .title {
            font-size: 2rem;
            margin-top: 1rem;
          }

          .meta {
            margin-left: 1rem;
            padding-left: 1rem;
            font-size: 1rem;

            li {
              margin-top: .5rem;
            }
          }

        }
  
        .services {
          @include list-flex;
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 1px solid #{addon-color('light')};
          
          .service {
            margin-right: 1rem;
            
            a {
              display: flex;
              align-items: center;
              color: addon-color('dark');
              padding: 1rem 1.5rem;
              border: 1px solid #{addon-color('light')};
              text-transform: uppercase;

              img {
                width: 1.5rem;
              }

              span {
                flex: 1;
                margin-left: 1rem;
              }

              &:hover {
                text-decoration: none;
              }
            }

            &:hover {
              background: addon-color('light');
            }

          }
  
        }
  
      }
  
    }
  
    .settings {

      h2 {
        margin-bottom: 2rem;
      }
      
      .form-group {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .label {
          flex: 1;

          span, input {
            display: block;
          }

          input {
            width: 100%;
            margin-top: .5rem;
          }
        }

        .actions {
          width: 5rem;
          margin-left: 2rem;
          margin-top: 2rem;
          text-align: center;

          a {
            text-transform: uppercase;
          }
        }

      }
  
      .submit {
        display: flex;
        width: 100%;
        margin-top: 3rem;

        .message {
          margin-top: .5rem;
          margin-left: 1rem;

          &.success {
            color: addon-color('success');
          }
        }
      }
  
    }
  
    .about {
      
      h3 {
        margin-top: 2rem;
      }

    }
  
  }

}
